@font-face {
  font-family: "Lekton";
  font-style: normal;
  font-weight: 400;
  src: url("../typography/lekton-v10-latin-regular.eot");
  src: local("Lekton"), local("Lekton-Regular"),
    url("../typography/lekton-v10-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../typography/lekton-v10-latin-regular.woff2") format("woff2"),
    url("../typography/lekton-v10-latin-regular.woff") format("woff"),
    url("../typography/lekton-v10-latin-regular.ttf") format("truetype"),
    url("../typography/lekton-v10-latin-regular.svg#Lekton") format("svg");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../typography/source-sans-pro-v13-latin-regular.eot");
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
    url("../typography/source-sans-pro-v13-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../typography/source-sans-pro-v13-latin-regular.woff2") format("woff2"),
    url("../typography/source-sans-pro-v13-latin-regular.woff") format("woff"),
    url("../typography/source-sans-pro-v13-latin-regular.ttf")
      format("truetype"),
    url("../typography/source-sans-pro-v13-latin-regular.svg#SourceSansPro")
      format("svg");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../typography/source-sans-pro-v13-latin-700.eot");
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"),
    url("../typography/source-sans-pro-v13-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../typography/source-sans-pro-v13-latin-700.woff2") format("woff2"),
    url("../typography/source-sans-pro-v13-latin-700.woff") format("woff"),
    url("../typography/source-sans-pro-v13-latin-700.ttf") format("truetype"),
    url("../typography/source-sans-pro-v13-latin-700.svg#SourceSansPro")
      format("svg");
}

:root {
  --blue: rgba(97, 218, 251, 1);
  --blue-anchor: rgba(45, 148, 243, 1);
  --black-background: rgba(43, 43, 43, 1);
  --black-header-background: rgba(54, 54, 54, 1);
  --black-border: rgba(0, 0, 0, 0.3);
  --white-h2: rgba(255, 255, 255, 0.85);
  --white-section: rgba(255, 255, 255, 0.95);
  --gray-h1: rgba(255, 255, 255, 0.75);
  --gray-date: rgba(255, 255, 255, 0.6);
  --black-text: rgba(0, 0, 0, 0.75);
  --h3: #fd971f;
  --h4: #e6db74;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--black-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;
}

h1 {
  margin-bottom: 0;
  display: inline-block;
  font-family: "Lekton";
  font-weight: 400;
  font-style: normal;
  font-size: 2.75rem;
  color: var(--gray-h1);
  border-bottom: 3px solid var(--blue);
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > a {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  min-height: 10rem;
  background: var(--black-header-background);
  border: 3px solid var(--black-border);
}

main > a:hover {
  border: 3px solid var(--blue);
}

main > a:not(:last-child) {
  margin-bottom: 1.5rem;
}

.article-index-page {
  width: 100%;
  padding: 0 2rem 0 2rem;
}

.article-index-page header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-family: "Lekton";
  font-size: 1.5rem;
  color: var(--white-h2);
  line-height: 1.7rem;
}

time {
  font-family: "Lekton";
  font-size: 1.125rem;
  color: var(--gray-date);
  margin-bottom: 0;
}

.svg-container {
  display: flex;
}

.article-blogpost-page {
  max-width: 60rem;
  width: 100%;
  border: 3px solid var(--black-border);
}

.utterances {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.utterances-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.article-blogpost-page header {
  display: flex;
  flex-direction: column;
  padding: 4rem 9.5rem 4rem 9.5rem;
  border-bottom: 3px solid var(--black-border);
  background: var(--black-header-background);
}

.article-blogpost-page div:first-child {
  order: 2;
}

.article-blogpost-page header h2 {
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: var(--blue);
}

.article-blogpost-page .svg-container {
  order: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

section {
  border: none;
  background: var(--white-section);
  padding: 4rem 9.5rem 4rem 9.5rem;

  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 1.35rem;
  line-height: 2.125rem;
  color: var(--black-tÃext);
}

section a {
  color: var(--blue-anchor);
}

h3:first-child {
  margin-top: 0;
}

h3 {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2, 1875rem;
  text-decoration: underline;
  text-decoration-color: var(--h3);
}

h4 {
  font-size: 1.6rem;
  text-decoration: underline;
  text-decoration-color: var(--h4);
}

h5 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

blockquote {
  font-style: italic;
  position: relative;
}

ul {
  padding-inline-start: 1.5rem;
}

pre {
  background-color: var(--black-header-background);
  padding: 1rem;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  /* !important, otherwise prismjs (code highlighting) would override it */
  font-family: "Lekton" !important;
}

blockquote::before {
  font-family: Arial;
  content: ">";
  position: absolute;
  left: -2rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.7rem;
  border-top: 3px solid var(--black-border);
  margin-top: 7rem;

  font-family: "Lekton";
  font-weight: 400;
  font-style: normal;
  font-size: 1.375rem;

  height: 6.5rem;
  background-color: var(--black-header-background);
  color: var(--gray-date);
}

footer a {
  color: var(--gray-h1);
  border-bottom: 2px solid var(--blue);
}

.about-content {
  width: 100%;
  max-width: 50rem;
  padding: 1rem;
}

@media (max-width: 62rem) {
  .article-blogpost-page {
    max-width: 50rem;
  }
  .article-blogpost-page header,
  section {
    padding: 3rem;
  }
  .article-blogpost-page .svg-container {
    margin-bottom: 0;
  }
  .svg-container {
    transform: scale(0.8);
  }

  section {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.4rem;
  }
}

@media (max-width: 52rem) {
  nav {
    margin-bottom: 5rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }

  time {
    margin: 0;
    font-size: 1rem;
  }

  main,
  footer {
    padding: 0;
  }

  .article-blogpost-page {
    border: 0;
  }

  footer {
    height: 4.5rem;
    margin-top: 5rem;
    font-size: 1.2rem;
  }

  main > a {
    width: 100%;
    max-width: 40rem;
  }

  .article-index-page {
    padding: 1rem;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  .svg-container {
    order: 1;
    transform: scale(0.7);
  }

  .article-index-page div:first-child {
    order: 2;
    text-align: center;
  }
}

@media (max-width: 40rem) {
  .article-blogpost-page header,
  section {
    padding: 1.5rem;
  }

  section {
    font-size: 1.1rem;
    line-height: 1.7rem;
  }

  h3 {
    font-size: 1.35rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1.25rem;
  }
}
