@font-face {
  font-family: "Lekton";
  font-style: normal;
  font-weight: 400;
  src: url("../typography/lekton-v10-latin-regular.eot");
  src: local("Lekton"), local("Lekton-Regular"),
    url("../typography/lekton-v10-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../typography/lekton-v10-latin-regular.woff2") format("woff2"),
    url("../typography/lekton-v10-latin-regular.woff") format("woff"),
    url("../typography/lekton-v10-latin-regular.ttf") format("truetype"),
    url("../typography/lekton-v10-latin-regular.svg#Lekton") format("svg");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../typography/source-sans-pro-v13-latin-regular.eot");
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
    url("../typography/source-sans-pro-v13-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../typography/source-sans-pro-v13-latin-regular.woff2") format("woff2"),
    url("../typography/source-sans-pro-v13-latin-regular.woff") format("woff"),
    url("../typography/source-sans-pro-v13-latin-regular.ttf")
      format("truetype"),
    url("../typography/source-sans-pro-v13-latin-regular.svg#SourceSansPro")
      format("svg");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../typography/source-sans-pro-v13-latin-700.eot");
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"),
    url("../typography/source-sans-pro-v13-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../typography/source-sans-pro-v13-latin-700.woff2") format("woff2"),
    url("../typography/source-sans-pro-v13-latin-700.woff") format("woff"),
    url("../typography/source-sans-pro-v13-latin-700.ttf") format("truetype"),
    url("../typography/source-sans-pro-v13-latin-700.svg#SourceSansPro")
      format("svg");
}



:root {
  --blue: rgba(97, 218, 251, 1);
  --blue-underline: rgba(97, 218, 251, 0.75);
  --black-background: rgba(43, 43, 43, 1);
  --black-header-background: rgba(54, 54, 54, 1);
  --black-border: rgba(0, 0, 0, 0.3);
  --white-h2: rgba(255, 255, 255, 0.85);
  --white-section: rgba(255, 255, 255, 0.95);
  --gray-h1: rgba(255, 255, 255, 0.75);
  --gray-date: rgba(255, 255, 255, 0.6);
  --black-text: rgba(0, 0, 0, 0.75);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--black-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;
}

h1 {
  margin-bottom: 0;
  display: inline-block;
  font-family: "Lekton";
  font-weight: 400;
  font-style: normal;
  font-size: 2.75rem;
  color: var(--gray-h1);
  border-bottom: 3px solid var(--blue-underline);
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > a {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  min-height: 10rem;
  background: var(--black-header-background);
  border: 3px solid var(--black-border);
}

main > a:hover {
  border: 3px solid var(--blue-underline);
}

main > a:not(:last-child) {
  margin-bottom: 1.5rem;
}

.article-index-page {
  width: 100%;
  padding: 0 2rem 0 2rem;
}

.article-index-page header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-family: "Lekton";
  font-size: 1.5rem;
  color: var(--white-h2);
}

time {
  font-family: "Lekton";
  font-size: 1.125rem;
  color: var(--gray-date);
  margin-bottom: 0;
}

.svg-container {
  display: flex;
}

.article-blogpost-page {
  max-width: 60rem;
  width: 100%;
  border: 3px solid var(--black-border);
}

.article-blogpost-page header {
  display: flex;
  flex-direction: column;
  padding: 4rem 9.5rem 4rem 9.5rem;
  border-bottom: 3px solid var(--black-border);
  background: var(--black-header-background);
}

.article-blogpost-page div:first-child {
  order: 2;
}

.article-blogpost-page header h2 {
  display: inline-block;
  border-bottom: 2px solid var(--blue-underline);
}

.article-blogpost-page .svg-container {
  order: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

section {
  border: none;
  background: var(--white-section);
  padding: 4rem 9.5rem 4rem 9.5rem;

  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.125rem;
  color: var(--black-tÃext);
}

h3:first-child {
  margin-top: 0;
}
h3 {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2, 1875rem;
  display: inline-block;
  border-bottom: 2px solid var(--blue-underline);
}

img {
  max-width: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 3px solid var(--black-border);
  margin-top: 7rem;

  font-family: "Lekton";
  font-weight: 400;
  font-style: normal;
  font-size: 1.375rem;

  height: 6.5rem;
  background-color: var(--black-header-background);
  color: var(--gray-date);
}

footer a {
  color: var(--gray-h1);
  border-bottom: 2px solid var(--blue-underline);
}

@media (max-width: 52rem) { 
  nav {
    margin-bottom: 5rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }

  time, p {
    margin: 0;
    font-size: 1rem;
  }

  main, footer {
    padding: 0 1rem 0 1rem;
  }

  footer {
    height: 4.5rem;
    margin-top: 5rem;
  }

  main > a {
    width: 100%;
    max-width: 40rem;
  }

  .article-index-page {
    padding: 1rem;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  .article-index-page .svg-container {
    order: 1;
    transform: scale(.7);
  }

  .article-index-page div:first-child {
    order: 2;
    text-align: center;
  }
 }
